name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  sanity:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: CI sanity
        run: echo "CI OK"
